@font-face {
    font-family: baseFont;
    src: url("../fonts/MyriadPro-Bold.otf")
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.fa-chevron-down {
    color: #2d3962;
}


.blanco {
    color: white;
    position: relative;
}

.half-rule2 {
    border: 1px solid white;
    text-align: center;
    width: 5%;
    position: relative;
}

.half-rule {
    border: 1px solid #2d3962;
    text-align: center;
    width: 5%;
    position: relative;
}

.full-rule {
    border: .5px solid #aeaeaf;
    text-align: center;
    width: 90%;
    position: relative;
}

img {
    width: 100%;
    height: auto;
}

.fondo1 {
    background-image: url("../img/administradoresdefincas/quehacemos.png");
    background-position: center center;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    /* height: 95vh; */
}

.fondo2 {
    background-image: url("../img/administradoresdefincas/slide1.png");
    background-position: center center;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: auto;
}

.text-white {
    color: white;
    text-shadow: 1px 1px 2px  black;
}

.tituloIni {
    margin-top: 300px;
}

.columnas {
    top: 10px;
}

.textque {
    color: black;
    text-shadow: 1px 1px 2px white;
    font-size: 20px;
}

.quepeq {
    color: white;
    text-shadow: 1px 1px 2px  black;
    font-size: 14px;
    margin: 15px;
}


.sliderimagen {
    width: 100%;
    height: 370px;
}

.fondofrase {
    background-image: url("../img/mesatrabajo/mesaTrabajo6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.bola {
    border-radius: 50%;
    background-color: #2d3962;
    padding: 15px;
}

.fondoVideo {
    background-color: #2d3962;
    box-shadow: 0px 10px 40px #2d3962;
}

#elegirnos {
    color: white;
}

#bg-blue {
    background-color: #2d3962;
    color: white;
    width: auto;
}

#bg.white {
    background-color: white;
    color: #2d3962;
    width: auto;
}

video {
    width: 100%;
    height: 100%;
}

#garantias {
    background-image: linear-gradient(white, #2d3962 400%);
    padding-left: 7%
}

.textoGarantias {
    color: #2d3962;
    font-size: 18px;
}

.textoFormas {
    color: #525254;
}

h5.formas {
    color: #2d3962;
    font-weight: bold;
    font-size: 30px;
}

.presupuesto {
    color: #f9f4a0;
    font-size: 20px;
    width: 250px;
    height: 250px;
    background-color: #2d3962;
    box-shadow: 3px 3px 4px gray;
}

.presupuesto b {
    color: white;
    font-size: 20px;
}

footer {
    background: black;
}

div.noticias {
    background: #525254;
}

.textoNoticias {
    color: #aeaeaf;
    font-size: 13px;
}

.noti {
    color: white;
    font-size: 20px;
}

.barra {
    width: 100%;
    height: 30px;
}

.boton {
    font-weight: bold;
    background: #aeaeaf;
    width: 70px;
    height: 25px;
    border-style: none;
    margin-top: 10px;
    color: #525254;
    text-align: center;
    text-decoration: none;
}

.enlaces ul li {
    margin: 0px 0px 0px -40px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #525254;
}

div div.cont {
    color: #aeaeaf;
}


/* estilos gestion-alquileres.html */

.fondoGestion {
    background-image: url("../img/mesatrabajo/mesaTrabajo.png");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 400px;
}

.punto {
    opacity: 0;
}

.textoGestion {
    margin-top: 80%;
    width: 100%;
    height: 100%;
}

.fondocolorGestion {
    background-color: #2d3962;
    box-shadow: 0px 50px 20px 10px #2d3962, 0px -90px 10px 10px #2d3962;
}

.tranqFondo {
    background-image: url("../img/mesatrabajo/mesaTrabajo1.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 100%;
    width: 100%;
    height: 200px;
    box-shadow: 0px -10px 50px inset #2d3962;
}

.cajatextosombra {
    box-shadow: 0px 10px 20px 10px #2d3962;
    position: relative;
    background-color: #2d3962;
}

.cajatextosombra2 {
    box-shadow: 0px 10px 20px 20px #2d3962, 0px -10px 20px 20px #2d3962;
    position: relative;
    background-color: #2d3962;
    color: white;
}

.botonServicios {
    font-weight: normal;
    background: white;
    width: 299px;
    height: 40px;
    border-width: 2px;
    border-style: solid black;
    color: black;
    text-align: center;
    text-decoration: none;
}

.botonServicios:hover {
    font-weight: bold;
    background: #525254;
    width: 299px;
    height: 40px;
    border-style: none;
    color: #aeaeaf;
    text-align: center;
    text-decoration: none;
}

.boton2 {
    font-weight: bold;
    background: #2d3962;
    width: 400px;
    height: 50px;
    border-style: none;
    margin-top: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.imagenfondocompleto {
    width: 100%;
    height: auto;
    background-size: cover;
}

.fondotitulo2 {
    background-color: #2d3962;
    color: white;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-top: 10px solid #2d3962;
}